<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add Member</title>
    <link th:href="@{/css/bootstrap.css}" rel="stylesheet">
    <script th:src="@{/js/bootstrap.min.js}"></script>
    <script th:src="@{/js/jquery.min.js}"></script>
</head>
<body>
<div class="container">
    <h1>Thêm Member</h1>

    <form th:action="@{/addMember}" method="post">
        <div class="form-group">
            <label for="projectname">Project Name:</label>
            <input type="text" class="form-control" id="projectname">
        </div>
        <div class="form-group">
            <label for="effort">Effort:</label>
            <input type="number" class="form-control" id="effort">
        </div>
        <div class="form-group">
            <label for="membernum">Number of member:</label>
            <input type="number" class="form-control" id="membernum">
        </div>

        <button type="submit" class="btn btn-success">Thêm</button>
    </form>
</div>

</body>
</html>