<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add Project</title>
    <link th:href="@{/css/bootstrap.css}" rel="stylesheet">
    <script th:src="@{/js/bootstrap.min.js}"></script>
</head>
<body>
<div class="container">
    <h1>Thêm Project</h1>

    <form th:action="@{/addProject}" method="post" th:object="${project}">
        <div class="form-group">
            <label>Project Name:</label>
            <input th:field="*{projectName}" type="text" class="form-control">
        </div>
        <div class="form-group">
            <label>Effort:</label>
            <input th:field="*{effort}" type="number" class="form-control">
        </div>
        <div class="form-group">
            <label>Start Date:</label>
            <input th:field="*{startDate}" type="datetime-local" class="form-control">
        </div>

        <div class="form-group">
            <label>Number of member:</label>
            <input th:field="*{numberOfMembers}" type="number" class="form-control">
        </div>

        <button type="submit" class="btn btn-success">Thêm</button>
    </form>
</div>

</body>
</html>